In [1]:
import pandas as pd
import numpy as np

In [2]:
from sklearn import preprocessing

In [3]:
x      = np.array([[-500.5],
                    [-100.1],
                    [0],
                    [100.1],
                    [900.9]])
mm = preprocessing.MinMaxScaler(feature_range=(0,1))
mm_feature = mm.fit_transform(x)

In [4]:
mm_feature

array([[0.        ],
       [0.28571429],
       [0.35714286],
       [0.42857143],
       [1.        ]])

In [5]:
x = np.array([[-1000.1],
        [-200.2],
        [500.5],
        [600.6],
        [9000.9]])
sf = preprocessing.StandardScaler()
sf_feature = sf.fit_transform(x)

In [6]:
(sf_feature.std())

1.0

In [7]:
rb = preprocessing.RobustScaler()
result = rb.fit_transform(x)
result

array([[-1.87387612],
       [-0.875     ],
       [ 0.        ],
       [ 0.125     ],
       [10.61488511]])

In [8]:
from sklearn.preprocessing import Normalizer
features = np.array([[0.5, 0.5],
                    [1.1, 3.4],
                    [1.5, 20.2],
                    [1.63, 34.4],
                    [10.9, 3.3]])
n = Normalizer(norm = "l1")
res = n.fit_transform(features)

In [9]:
res

array([[0.5       , 0.5       ],
       [0.24444444, 0.75555556],
       [0.06912442, 0.93087558],
       [0.04524008, 0.95475992],
       [0.76760563, 0.23239437]])

In [10]:
from sklearn.preprocessing import PolynomialFeatures
features = np.array([[2,3],
                      [2,3],
                      [2,3]])
p = PolynomialFeatures(degree = 2, include_bias = False, interaction_only = True)
ress = p.fit_transform(features)

In [11]:
ress

array([[2., 3., 6.],
       [2., 3., 6.],
       [2., 3., 6.]])

In [12]:
# Load libraries
import numpy as np
from sklearn.covariance import EllipticEnvelope
from sklearn.datasets import make_blobs
# Create simulated data
features, _ = make_blobs(n_samples = 10,
            n_features = 2,
                centers = 1,
random_state = 1)

In [13]:
features

array([[-1.83198811,  3.52863145],
       [-2.76017908,  5.55121358],
       [-1.61734616,  4.98930508],
       [-0.52579046,  3.3065986 ],
       [ 0.08525186,  3.64528297],
       [-0.79415228,  2.10495117],
       [-1.34052081,  4.15711949],
       [-1.98197711,  4.02243551],
       [-2.18773166,  3.33352125],
       [-0.19745197,  2.34634916]])

In [14]:
# Replace the first observation's values with extreme values
features[0,0] = 10000
features[0,1] = 10000
outlier_detector = EllipticEnvelope(contamination=.1)
# Fit detector
outlier_detector.fit(features)
# Predict outliers
outlier_detector.predict(features)

array([-1,  1,  1,  1,  1,  1,  1,  1,  1,  1])

In [15]:
# Load library
import pandas as pd
# Create DataFrame
houses = pd.DataFrame()
houses['Price'] = [534433, 392333, 293222, 4322032]
houses['Bathrooms'] = [2, 3.5, 2, 116]
houses['Square_Feet'] = [1500, 2500, 1500, 48000]
houses

     Price  Bathrooms  Square_Feet
0   534433        2.0         1500
1   392333        3.5         2500
2   293222        2.0         1500
3  4322032      116.0        48000

In [16]:
houses[houses['Bathrooms'] < 20]
houses["Outlier"] = np.where(houses["Bathrooms"] < 20, 0, 1)
# Show data
houses

     Price  Bathrooms  Square_Feet  Outlier
0   534433        2.0         1500        0
1   392333        3.5         2500        0
2   293222        2.0         1500        0
3  4322032      116.0        48000        1

In [18]:
from sklearn.preprocessing import Binarizer
age = np.array([[6],
                [12],
                [20],
                [36],
                [65]])
b = Binarizer(threshold = 21 )
x = b.fit_transform(age)

In [19]:
x

array([[0],
       [0],
       [0],
       [1],
       [1]])

In [21]:
np.digitize(age, bins = [20, 30])

array([[0],
       [0],
       [1],
       [2],
       [2]], dtype=int64)

In [27]:
import pandas as pd
from sklearn.datasets import make_blobs
from sklearn.cluster import KMeans
d, _ = make_blobs(n_samples = 50,
n_features = 2,
centers = 3,
random_state = 1)

In [28]:
data = pd.DataFrame(d, columns = ["F1", "F2"])

In [32]:
c = KMeans(n_clusters = 2, random_state = 0)
c.fit(data)
data["pre"] = c.predict(data)

In [33]:
data

           F1         F2  pre
0   -9.877554  -3.336145    0
1   -7.287210  -8.353986    0
2   -6.943061  -7.023744    0
3   -7.440167  -8.791959    0
4   -6.641388  -8.075888    0
5   -0.794152   2.104951    1
6   -2.760179   5.551214    1
7   -9.946905  -4.590344    0
8   -0.525790   3.306599    1
9   -1.981977   4.022436    1
10  -5.865964  -7.968072    0
11  -6.834787  -7.391217    0
12  -6.749247 -10.175429    0
13 -10.752110  -2.700480    0
14  -8.508996  -8.657694    0
15  -2.330806   4.393825    1
16  -0.197452   2.346349    1
17   0.085252   3.645283    1
18 -10.206607  -3.366725    0
19  -9.158729  -3.022246    0
20  -1.340521   4.157119    1
21  -1.831988   3.528631    1
22  -9.806797  -1.853093    0
23  -0.758704   3.722762    1
24 -11.140231  -4.302691    0
25  -7.812137  -5.349845    0
26  -2.351221   4.009736    1
27  -6.878321  -7.743176    0
28  -1.782450   3.470720    1
29  -7.371086  -7.325253    0
30  -7.735544  -7.775664    0
31 -11.115023  -3.718933    0
32  -9.697542  -4.305598    0
33 -10.189548  -4.840978    0
34  -2.187732   3.333521    1
35  -2.346733   3.561284    1
36  -1.927448   4.936845    1
37 -10.744871  -2.260894    0
38  -6.866582  -8.034219    0
39  -7.512011  -6.928720    0
40  -6.904845  -7.277059    0
41  -1.617346   4.989305    1
42  -0.757969   4.908984    1
43  -9.484783  -4.251441    0
44  -7.408736  -8.109631    0
45  -9.509194  -4.028920    0
46  -8.337910  -3.211304    0
47  -9.712125  -3.068207    0
48  -8.866083  -2.433532    0
49  -7.684883  -7.455196    0

In [37]:
features = np.array([[1.1, 11.1],
                    [2.2, 22.2],
                    [3.3, 33.3],
                    [4.4, 44.4],
                    [np.nan, 55]])

In [40]:
d = pd.DataFrame(features, columns = ["f1", "f2"])

In [41]:
d

    f1    f2
0  1.1  11.1
1  2.2  22.2
2  3.3  33.3
3  4.4  44.4
4  NaN  55.0

In [42]:
d.dropna()

    f1    f2
0  1.1  11.1
1  2.2  22.2
2  3.3  33.3
3  4.4  44.4

In [48]:
from sklearn.preprocessing import LabelBinarizer
feature = np.array([["Texas"],
                    ["California"],
                    ["Texas"],
                    ["Delaware"],
                    ["Texas"]])
one_hot = LabelBinarizer()
res = one_hot.fit_transform(feature)
one_hot.classes_

array(['California', 'Delaware', 'Texas'], dtype='<U10')

In [49]:
from sklearn.preprocessing import MultiLabelBinarizer
multiclass_feature = [("Texas", "Florida"),
                    ("California", "Alabama"),
                    ("Texas", "Florida"),
                   ("Delware", "Florida"),
                   ("Texas", "Alabama")]
multihot = MultiLabelBinarizer()
multihot.fit_transform(multiclass_feature)
multihot.classes_

array(['Alabama', 'California', 'Delware', 'Florida', 'Texas'],
      dtype=object)

In [54]:
dataframe = pd.DataFrame({"Score": ["Low", "Low", "Medium", "Medium", "High"]})
re = {"Low" : 1, "Medium" : 2, "High" : 3}
dataframe.replace(re)

   Score
0      1
1      1
2      2
3      2
4      3

In [53]:
re

{'Low': 1, 'Medium': 2, 'High': 3}

In [63]:
from sklearn.feature_extraction import DictVectorizer
data_dict = [{"Red": 2, "Blue": 4},
            {"Red": 4, "Blue": 3},
            {"Red": 1, "Yellow": 2},
            {"Red": 2, "Yellow": 2}]
vec = DictVectorizer(sparse = False)
x = vec.fit_transform(data_dict)
x

array([[4., 2., 0.],
       [3., 4., 0.],
       [0., 1., 2.],
       [0., 2., 2.]])

In [66]:
vec.get_feature_names_out()

array(['Blue', 'Red', 'Yellow'], dtype=object)

In [75]:
from sklearn.neighbors import KNeighborsClassifier
X = np.array([[0, 2.10, 1.45],
              [1, 1.18, 1.33],
              [0, 1.22, 1.27],
              [1, -0.21, -1.19]])
X_with_nan = np.array([[np.nan, 0.87, 1.31],
                      [np.nan, -0.67, -0.22]])
kn = KNeighborsClassifier(n_neighbors = 3, weights = "distance")
model = kn.fit(X[:, 1:], X[:, 0])
n = model.predict(X_with_nan[:, 1 :])

In [77]:
n.reshape(-1,1)

array([[0.],
       [1.]])

In [82]:
np.hstack((n.reshape(-1,1),X_with_nan[:, 1 :]))

array([[ 0.  ,  0.87,  1.31],
       [ 1.  , -0.67, -0.22]])

In [83]:
#Create text
text_data = [" Interrobang. By Aishwarya Henriette ",
            "Parking And Going. By Karl Gautier",
            " Today Is The night. By Jarek Prakash "]
out = [i.strip() for i in text_data]

In [84]:
out

['Interrobang. By Aishwarya Henriette',
 'Parking And Going. By Karl Gautier',
 'Today Is The night. By Jarek Prakash']

In [85]:
# Load libraries
import numpy as np
import pandas as pd
# Create strings
date_strings = np.array(['03-04-2005 11:35 PM',
                            '23-05-2010 12:01 AM',
                        '04-09-2009 09:09 PM'])

In [87]:
date_strings

array(['03-04-2005 11:35 PM', '23-05-2010 12:01 AM',
       '04-09-2009 09:09 PM'], dtype='<U19')

In [96]:
[pd.to_datetime(date, format = "%d-%m-%Y %I:%M %p") for date in date_strings]

[Timestamp('2005-04-03 23:35:00'),
 Timestamp('2010-05-23 00:01:00'),
 Timestamp('2009-09-04 21:09:00')]